<link rel="import" href="elements/my-element.html">
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>
  <my-element></my-element>
</p>

<core-header-panel>
  <!-- main page content will go here -->
  <core-toolbar>
    <paper-tabs id="tabs" selected="all" self-end>
      <paper-tab name="all">All</paper-tab>
      <paper-tab name="favorites">Favorites</paper-tab>
    </paper-tabs>
  </core-toolbar>
</core-header-panel>


<script>
  var tabs = document.querySelector('paper-tabs');
  tabs.addEventListener('core-select', function() {
    console.log("Selected: " + tabs.selected);
  });
</script>
