<link rel="import" href="/polymer/polymer.html" />
<link rel="import" href="/core-ajax/core-ajax.html" />

<polymer-element name="my-element" noscript>
  <template>
    <span>I'm <b>my-element</b>. This is my Shadow DOM.</span>
    <core-ajax url="http://foaas.herokuapp.com/pink/eric" auto headers='{"Accept": "application/json"}' handleAs="json" response="{{resp}}"></core-ajax>
    <textarea value="{{resp.message}} {{resp.subtitle}}"></textarea>
  </template>
</polymer-element>
